[submodule "zsh/.zsh/modules/zsh-completions"]
	path = zsh/.zsh/modules/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
  ignore = dirty
[submodule "zsh/.zsh/modules/auto-fu"]
	path = zsh/.zsh/modules/auto-fu
	url = git://github.com/hchbaw/auto-fu.zsh.git
  ignore = dirty
[submodule "zsh/.zsh/modules/zsh-history-substring-search"]
	path = zsh/.zsh/modules/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
  ignore = dirty
[submodule "vim/.vim/bundles/vundle"]
	path = vim/.vim/bundles/vundle
	url = git://github.com/gmarik/vundle.git
  ignore = dirty
[submodule "zsh/.zsh/modules/zaw"]
	path = zsh/.zsh/modules/zaw
	url = git://github.com/zsh-users/zaw.git
  ignore = dirty
[submodule "vimperator/.vimperator/vimpr"]
	path = vimperator/.vimperator/vimpr
	url = git://github.com/vimpr/vimperator-plugins.git
  ignore = dirty
