# ignore all
/*

!/.gitignore
!/Makefile
!/README.md
!/zsh/
/zsh/.zsh/.tmp/*
/zsh/.zsh/*.zwc
/zsh/.zsh/.history
!/git
!/system
!/vim
/vim/.vim/bundles
.netrwhist
!/bin
!/dircolors
!/Homebrew
!/KeyRemap4MacBook
!/tmux
