<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beep_on_registration</key>
	<false/>
	<key>candidate_window_font_name</key>
	<string>Trebuchet MS</string>
	<key>candidate_window_font_size</key>
	<integer>18</integer>
	<key>candidate_window_labels</key>
	<string>ASDFJKL</string>
	<key>display_shortest_match_of_kana_conversions</key>
	<false/>
	<key>dynamic_completion_range</key>
	<integer>1</integer>
	<key>enable_annotation</key>
	<false/>
	<key>enable_dynamic_completion</key>
	<true/>
	<key>enable_extended_completion</key>
	<true/>
	<key>enable_private_mode</key>
	<false/>
	<key>enable_skkserv</key>
	<true/>
	<key>fix_intermediate_conversion</key>
	<true/>
	<key>handle_recursive_entry_as_okuri</key>
	<false/>
	<key>keyboard_layout</key>
	<string>com.apple.keylayout.US</string>
	<key>max_count_of_inline_candidates</key>
	<integer>4</integer>
	<key>minimum_completion_length</key>
	<real>0.0</real>
	<key>openlab_host</key>
	<string>openlab.ring.gr.jp</string>
	<key>openlab_path</key>
	<string>/skk/skk/dic</string>
	<key>put_candidate_window_upward</key>
	<false/>
	<key>show_input_mode_icon</key>
	<false/>
	<key>skkserv_localonly</key>
	<true/>
	<key>skkserv_port</key>
	<integer>1178</integer>
	<key>sub_rules</key>
	<array>
		<string>/Library/Input Methods/AquaSKK.app/Contents/Resources/azik.rule</string>
	</array>
	<key>suppress_newline_on_commit</key>
	<true/>
	<key>use_individual_input_mode</key>
	<true/>
	<key>use_numeric_conversion</key>
	<true/>
	<key>user_dictionary_path</key>
	<string>~/Library/Application Support/AquaSKK/skk-jisyo.utf8</string>
</dict>
</plist>
