<UserScriptConfig>
	<Script filename="minibuffer.user.js" name="Minibuffer" namespace="http://white.s151.xrea.com/" description="Minibuffer" version="" enabled="true" runAt="document-end" basedir="minibuffer" modified="1324449312000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1322878946000" installurl="http://exe.tyo.ro/2011/11/11/script/minibuffer.user.js" updateurl="http://exe.tyo.ro/2011/11/11/script/minibuffer.user.js">
		<Include>http://www.google.*/search?*</Include>
		<Include>http://www.tumblr.com/dashboard</Include>
	</Script>
	<Script filename="autopagerize.user.js" name="AutoPagerize" namespace="http://swdyh.yu.to/" description="loading next page and inserting into current page." version="" enabled="true" runAt="document-end" basedir="autopagerize" modified="1324444325000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320189671000" installurl="http://userscripts.org/scripts/source/8551.user.js" updateurl="http://userscripts.org/scripts/source/8551.meta.js">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Exclude>https://mail.google.com/*</Exclude>
		<Exclude>http://b.hatena.ne.jp/*</Exclude>
		<Exclude>http://www.facebook.com/plugins/like.php*</Exclude>
		<Exclude>http://api.tweetmeme.com/button.js*</Exclude>
	</Script>
	<Script filename="ldrize.user.js" name="LDRize" namespace="http://white.s151.xrea.com/" description="j,k,v,p,o,:,f,? + l,s,i" version="" enabled="true" runAt="document-end" basedir="ldrize" modified="1324449335000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1322878942000" installurl="http://exe.tyo.ro/2011/11/11/script/ldrize.user.js" updateurl="http://exe.tyo.ro/2011/11/11/script/ldrize.user.js">
		<Include>http://www.google.*/search?*</Include>
		<Include>http://www.tumblr.com/dashboard</Include>
	</Script>
	<Script filename="google_pagerank.user.js" name="Google PageRank" namespace="http://code404.org/" description="Displays pagerank in web search results of Google." version="3.1.0" enabled="true" runAt="document-end" basedir="google_pagerank" modified="1320162511000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320162511000" installurl="http://userscripts.org/scripts/source/11216.user.js" updateurl="http://userscripts.org/scripts/source/11216.meta.js">
		<Include>http://www.google.*/search*</Include>
	</Script>
	<Script filename="disable_gogl_instant_pre.user.js" name="Disable GOGL Instant Previews" namespace="http://havelog.ayumusato.com/" description="Disable Google Instant Previews." version="1.3" enabled="true" runAt="document-end" basedir="disable_gogl_instant_pre" modified="1320109005000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320140287281" installurl="http://userscripts.org/scripts/source/90678.user.js" updateurl="http://userscripts.org/scripts/source/90678.meta.js">
		<Include>http://*.google.*/search*</Include>
		<Include>https://encrypted.google.com/*</Include>
	</Script>
	<Script filename="google_search_-_remove_r.user.js" name="Google Search - Remove Redirection" namespace="http://d.hatena.ne.jp/blooo/" description="Remove annoying redirection from links in Google search" version="2.02" enabled="true" runAt="document-end" basedir="google_search_-_remove_r" modified="1320108765000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320140287278" installurl="http://userscripts.org/scripts/source/57679.user.js" updateurl="http://userscripts.org/scripts/source/57679.meta.js">
		<Include>http://www.google.tld/search?*</Include>
	</Script>
	<Script filename="linkify_ting.user.js" name="Linkify ting" namespace="http://ergosum.frac.dk/user/" description="Turn plain text links into real clikable links. Attempts to catch links like google.com" version="" enabled="true" runAt="document-end" basedir="linkify_ting" modified="1320108997000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320140287280" installurl="http://userscripts.org/scripts/source/81739.user.js" updateurl="http://userscripts.org/scripts/source/81739.meta.js">
		<Include>*</Include>
		<Exclude>http://*.google.*/*</Exclude>
	</Script>
	<Script filename="faviconize_google_nested.user.js" name="Faviconize Google (nested icons)" namespace="http://userscripts.ru/js/faviconize-google/" description="Adds favicons to each link offered by Google search results." version="2.0" enabled="true" runAt="document-end" basedir="faviconize_google_nested" modified="1321845059000" dependhash="3f99f7c6de731a1fab97df2ed62586ae70c7dee6" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1321845059000" installurl="http://userscripts.org/scripts/source/58177.user.js" updateurl="http://userscripts.org/scripts/source/58177.meta.js" icon="icon_48.png">
		<Include>http://www.google.*/search?*</Include>
		<Include>https://encrypted.google.*/search?*</Include>
		<Include>http://www.google.*/webhp*</Include>
		<Include>http://www.google.*/</Include>
		<Include>http://groups.google.*/groups/search?*</Include>
	</Script>
	<Script filename="supertumblr.user.js" name="SuperTumblr" namespace="http://joodle.tumblr.com/" description="既に上の方に流れてしまったpostは全て消してしまいましょう。" version="" enabled="true" runAt="document-end" basedir="supertumblr" modified="1324438327000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324438327000" installurl="http://dl.dropbox.com/u/147847/superTumblr.user.js" updateurl="http://dl.dropbox.com/u/147847/superTumblr.user.js">
		<Include>http://www.tumblr.com/dashboard</Include>
	</Script>
	<Script filename="reblogcommand.user.js" name="ReblogCommand" namespace="http://white.s151.xrea.com/" description="" version="" enabled="true" runAt="document-end" basedir="reblogcommand" modified="1324448613000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1321883888000" installurl="http://svn.coderepos.org/share/lang/javascript/userscripts/reblogcommand.user.js" updateurl="http://svn.coderepos.org/share/lang/javascript/userscripts/reblogcommand.user.js">
		<Include>http://www.tumblr.com/dashboard</Include>
	</Script>
	<Script filename="tumblr_timestamps.user.js" name="Tumblr Timestamps" namespace="http://userscripts.org/users/113977" description="Show timestamps on dashboard posts" version="0.2.8" enabled="true" runAt="document-end" basedir="tumblr_timestamps" modified="1324435686000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324435686000" installurl="http://userscripts.org/scripts/source/93279.user.js" updateurl="http://userscripts.org/scripts/source/93279.meta.js">
		<Include>http://www.tumblr.com/dashboard*</Include>
		<Include>http://tumblr.com/dashboard*</Include>
		<Include>http://www.tumblr.com/tumblelog/*</Include>
		<Include>http://tumblr.com/tumblelog/*</Include>
		<Include>http://tumblr.com/likes</Include>
		<Exclude>http://www.tumblr.com/drafts</Exclude>
		<Exclude>http://www.tumblr.com/messages</Exclude>
		<Exclude>http://www.tumblr.com/queue</Exclude>
		<Exclude>http://tumblr.com/drafts</Exclude>
		<Exclude>http://tumblr.com/messages</Exclude>
		<Exclude>http://tumblr.com/queue</Exclude>
		<Exclude>http://www.tumblr.com/tumblelog/*/drafts</Exclude>
		<Exclude>http://www.tumblr.com/tumblelog/*/messages</Exclude>
		<Exclude>http://www.tumblr.com/tumblelog/*/queue</Exclude>
		<Exclude>http://tumblr.com/tumblelog/*/drafts</Exclude>
		<Exclude>http://tumblr.com/tumblelog/*/messages</Exclude>
		<Exclude>http://tumblr.com/tumblelog/*/queue</Exclude>
	</Script>
	<Script filename="tumblr_life.user.js" name="Tumblr Life" namespace="http://codefairy.org/ns/userscripts" description="Extends Tumblr Dashboard" version="1.0 Pre 8" enabled="false" runAt="document-end" basedir="tumblr_life-1" modified="1324437899000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324438649498" installurl="https://github.com/yoko/userscripts/raw/master/tumblr_life.user.js" updateurl="https://github.com/yoko/userscripts/raw/master/tumblr_life.user.js">
		<Include>http://www.tumblr.com/*</Include>
	</Script>
	<Script filename="cursedtumblr.user.js" name="CursedTumblr" namespace="luft2501.chicappa.jp" description="installs additional keyboard operation to tumblr ver.2" version="" enabled="false" runAt="document-end" basedir="cursedtumblr" modified="1324437937000" dependhash="e8c3db9bef11e9af828798171a532a25173457bc" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324437937000" installurl="http://luft2501.chicappa.jp/gm/cursedtumblr/cursedtumblr.user.js" updateurl="http://luft2501.chicappa.jp/gm/cursedtumblr/cursedtumblr.user.js">
		<Include>*</Include>
		<Require filename="jquerymin.js"/>
	</Script>
	<Script filename="xkit.user.js" name="XKit" namespace="http://userscripts.org/users/atesh" description="Useful additions to Tumblr." version="0.4.2" enabled="true" runAt="document-end" basedir="xkit" modified="1324442934000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324442934000" installurl="http://userscripts.org/scripts/source/109272.user.js" updateurl="http://userscripts.org/scripts/source/109272.meta.js">
		<Include>http://www.tumblr.com/*</Include>
	</Script>
	<Script filename="google_reader_subscriber.user.js" name="Google Reader Subscribers Count" namespace="http://userscripts.org/users/40991" description="Show how many subscribers to the feed with google reader." version="" enabled="true" runAt="document-end" basedir="google_reader_subscriber-1" modified="1324438028000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324438028000" installurl="http://userscripts.org/scripts/source/21909.user.js" updateurl="http://userscripts.org/scripts/source/21909.meta.js">
		<Include>http://*</Include>
		<Exclude>http://www.google.com/*</Exclude>
	</Script>
	<Script filename="google_reader_-_open_all.user.js" name="Google Reader - Open all unread button" namespace="http://pas-bien.net/" description="Opens all unread items in new tabs." version="0.3.1" enabled="true" runAt="document-end" basedir="google_reader_-_open_all" modified="1324438070000" dependhash="09c362629559e1ca328560c0ef65af257b968820" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1324438070000" installurl="http://userscripts.org/scripts/source/22275.user.js" updateurl="http://userscripts.org/scripts/source/22275.meta.js" icon="google-reader-oau-icon.png">
		<Match>http://www.google.com/reader/view/*</Match>
		<Match>http://www.google.ad/reader/view/*</Match>
		<Match>http://www.google.ae/reader/view/*</Match>
		<Match>http://www.google.com.af/reader/view/*</Match>
		<Match>http://www.google.com.ag/reader/view/*</Match>
		<Match>http://www.google.com.ai/reader/view/*</Match>
		<Match>http://www.google.am/reader/view/*</Match>
		<Match>http://www.google.co.ao/reader/view/*</Match>
		<Match>http://www.google.com.ar/reader/view/*</Match>
		<Match>http://www.google.as/reader/view/*</Match>
		<Match>http://www.google.at/reader/view/*</Match>
		<Match>http://www.google.com.au/reader/view/*</Match>
		<Match>http://www.google.az/reader/view/*</Match>
		<Match>http://www.google.ba/reader/view/*</Match>
		<Match>http://www.google.com.bd/reader/view/*</Match>
		<Match>http://www.google.be/reader/view/*</Match>
		<Match>http://www.google.bf/reader/view/*</Match>
		<Match>http://www.google.bg/reader/view/*</Match>
		<Match>http://www.google.com.bh/reader/view/*</Match>
		<Match>http://www.google.bi/reader/view/*</Match>
		<Match>http://www.google.bj/reader/view/*</Match>
		<Match>http://www.google.com.bn/reader/view/*</Match>
		<Match>http://www.google.com.bo/reader/view/*</Match>
		<Match>http://www.google.com.br/reader/view/*</Match>
		<Match>http://www.google.bs/reader/view/*</Match>
		<Match>http://www.google.co.bw/reader/view/*</Match>
		<Match>http://www.google.by/reader/view/*</Match>
		<Match>http://www.google.com.bz/reader/view/*</Match>
		<Match>http://www.google.ca/reader/view/*</Match>
		<Match>http://www.google.cd/reader/view/*</Match>
		<Match>http://www.google.cf/reader/view/*</Match>
		<Match>http://www.google.cg/reader/view/*</Match>
		<Match>http://www.google.ch/reader/view/*</Match>
		<Match>http://www.google.ci/reader/view/*</Match>
		<Match>http://www.google.co.ck/reader/view/*</Match>
		<Match>http://www.google.cl/reader/view/*</Match>
		<Match>http://www.google.cm/reader/view/*</Match>
		<Match>http://www.google.cn/reader/view/*</Match>
		<Match>http://www.google.com.co/reader/view/*</Match>
		<Match>http://www.google.co.cr/reader/view/*</Match>
		<Match>http://www.google.com.cu/reader/view/*</Match>
		<Match>http://www.google.cz/reader/view/*</Match>
		<Match>http://www.google.de/reader/view/*</Match>
		<Match>http://www.google.dj/reader/view/*</Match>
		<Match>http://www.google.dk/reader/view/*</Match>
		<Match>http://www.google.dm/reader/view/*</Match>
		<Match>http://www.google.com.do/reader/view/*</Match>
		<Match>http://www.google.dz/reader/view/*</Match>
		<Match>http://www.google.com.ec/reader/view/*</Match>
		<Match>http://www.google.ee/reader/view/*</Match>
		<Match>http://www.google.com.eg/reader/view/*</Match>
		<Match>http://www.google.es/reader/view/*</Match>
		<Match>http://www.google.com.et/reader/view/*</Match>
		<Match>http://www.google.fi/reader/view/*</Match>
		<Match>http://www.google.com.fj/reader/view/*</Match>
		<Match>http://www.google.fm/reader/view/*</Match>
		<Match>http://www.google.fr/reader/view/*</Match>
		<Match>http://www.google.ga/reader/view/*</Match>
		<Match>http://www.google.ge/reader/view/*</Match>
		<Match>http://www.google.gg/reader/view/*</Match>
		<Match>http://www.google.com.gh/reader/view/*</Match>
		<Match>http://www.google.com.gi/reader/view/*</Match>
		<Match>http://www.google.gl/reader/view/*</Match>
		<Match>http://www.google.gm/reader/view/*</Match>
		<Match>http://www.google.gp/reader/view/*</Match>
		<Match>http://www.google.gr/reader/view/*</Match>
		<Match>http://www.google.com.gt/reader/view/*</Match>
		<Match>http://www.google.gy/reader/view/*</Match>
		<Match>http://www.google.com.hk/reader/view/*</Match>
		<Match>http://www.google.hn/reader/view/*</Match>
		<Match>http://www.google.hr/reader/view/*</Match>
		<Match>http://www.google.ht/reader/view/*</Match>
		<Match>http://www.google.hu/reader/view/*</Match>
		<Match>http://www.google.co.id/reader/view/*</Match>
		<Match>http://www.google.ie/reader/view/*</Match>
		<Match>http://www.google.co.il/reader/view/*</Match>
		<Match>http://www.google.im/reader/view/*</Match>
		<Match>http://www.google.co.in/reader/view/*</Match>
		<Match>http://www.google.iq/reader/view/*</Match>
		<Match>http://www.google.is/reader/view/*</Match>
		<Match>http://www.google.it/reader/view/*</Match>
		<Match>http://www.google.je/reader/view/*</Match>
		<Match>http://www.google.com.jm/reader/view/*</Match>
		<Match>http://www.google.jo/reader/view/*</Match>
		<Match>http://www.google.co.jp/reader/view/*</Match>
		<Match>http://www.google.co.ke/reader/view/*</Match>
		<Match>http://www.google.com.kh/reader/view/*</Match>
		<Match>http://www.google.ki/reader/view/*</Match>
		<Match>http://www.google.kg/reader/view/*</Match>
		<Match>http://www.google.co.kr/reader/view/*</Match>
		<Match>http://www.google.com.kw/reader/view/*</Match>
		<Match>http://www.google.kz/reader/view/*</Match>
		<Match>http://www.google.la/reader/view/*</Match>
		<Match>http://www.google.com.lb/reader/view/*</Match>
		<Match>http://www.google.li/reader/view/*</Match>
		<Match>http://www.google.lk/reader/view/*</Match>
		<Match>http://www.google.co.ls/reader/view/*</Match>
		<Match>http://www.google.lt/reader/view/*</Match>
		<Match>http://www.google.lu/reader/view/*</Match>
		<Match>http://www.google.lv/reader/view/*</Match>
		<Match>http://www.google.com.ly/reader/view/*</Match>
		<Match>http://www.google.co.ma/reader/view/*</Match>
		<Match>http://www.google.md/reader/view/*</Match>
		<Match>http://www.google.me/reader/view/*</Match>
		<Match>http://www.google.mg/reader/view/*</Match>
		<Match>http://www.google.mk/reader/view/*</Match>
		<Match>http://www.google.ml/reader/view/*</Match>
		<Match>http://www.google.mn/reader/view/*</Match>
		<Match>http://www.google.ms/reader/view/*</Match>
		<Match>http://www.google.com.mt/reader/view/*</Match>
		<Match>http://www.google.mu/reader/view/*</Match>
		<Match>http://www.google.mv/reader/view/*</Match>
		<Match>http://www.google.mw/reader/view/*</Match>
		<Match>http://www.google.com.mx/reader/view/*</Match>
		<Match>http://www.google.com.my/reader/view/*</Match>
		<Match>http://www.google.co.mz/reader/view/*</Match>
		<Match>http://www.google.com.na/reader/view/*</Match>
		<Match>http://www.google.com.nf/reader/view/*</Match>
		<Match>http://www.google.com.ng/reader/view/*</Match>
		<Match>http://www.google.com.ni/reader/view/*</Match>
		<Match>http://www.google.ne/reader/view/*</Match>
		<Match>http://www.google.nl/reader/view/*</Match>
		<Match>http://www.google.no/reader/view/*</Match>
		<Match>http://www.google.com.np/reader/view/*</Match>
		<Match>http://www.google.nr/reader/view/*</Match>
		<Match>http://www.google.nu/reader/view/*</Match>
		<Match>http://www.google.co.nz/reader/view/*</Match>
		<Match>http://www.google.com.om/reader/view/*</Match>
		<Match>http://www.google.com.pa/reader/view/*</Match>
		<Match>http://www.google.com.pe/reader/view/*</Match>
		<Match>http://www.google.com.ph/reader/view/*</Match>
		<Match>http://www.google.com.pk/reader/view/*</Match>
		<Match>http://www.google.pl/reader/view/*</Match>
		<Match>http://www.google.pn/reader/view/*</Match>
		<Match>http://www.google.com.pr/reader/view/*</Match>
		<Match>http://www.google.ps/reader/view/*</Match>
		<Match>http://www.google.pt/reader/view/*</Match>
		<Match>http://www.google.com.py/reader/view/*</Match>
		<Match>http://www.google.com.qa/reader/view/*</Match>
		<Match>http://www.google.ro/reader/view/*</Match>
		<Match>http://www.google.ru/reader/view/*</Match>
		<Match>http://www.google.rw/reader/view/*</Match>
		<Match>http://www.google.com.sa/reader/view/*</Match>
		<Match>http://www.google.com.sb/reader/view/*</Match>
		<Match>http://www.google.sc/reader/view/*</Match>
		<Match>http://www.google.se/reader/view/*</Match>
		<Match>http://www.google.com.sg/reader/view/*</Match>
		<Match>http://www.google.sh/reader/view/*</Match>
		<Match>http://www.google.si/reader/view/*</Match>
		<Match>http://www.google.sk/reader/view/*</Match>
		<Match>http://www.google.com.sl/reader/view/*</Match>
		<Match>http://www.google.sn/reader/view/*</Match>
		<Match>http://www.google.so/reader/view/*</Match>
		<Match>http://www.google.sm/reader/view/*</Match>
		<Match>http://www.google.st/reader/view/*</Match>
		<Match>http://www.google.com.sv/reader/view/*</Match>
		<Match>http://www.google.td/reader/view/*</Match>
		<Match>http://www.google.tg/reader/view/*</Match>
		<Match>http://www.google.co.th/reader/view/*</Match>
		<Match>http://www.google.com.tj/reader/view/*</Match>
		<Match>http://www.google.tk/reader/view/*</Match>
		<Match>http://www.google.tl/reader/view/*</Match>
		<Match>http://www.google.tm/reader/view/*</Match>
		<Match>http://www.google.tn/reader/view/*</Match>
		<Match>http://www.google.to/reader/view/*</Match>
		<Match>http://www.google.com.tr/reader/view/*</Match>
		<Match>http://www.google.tt/reader/view/*</Match>
		<Match>http://www.google.com.tw/reader/view/*</Match>
		<Match>http://www.google.co.tz/reader/view/*</Match>
		<Match>http://www.google.com.ua/reader/view/*</Match>
		<Match>http://www.google.co.ug/reader/view/*</Match>
		<Match>http://www.google.co.uk/reader/view/*</Match>
		<Match>http://www.google.com.uy/reader/view/*</Match>
		<Match>http://www.google.co.uz/reader/view/*</Match>
		<Match>http://www.google.com.vc/reader/view/*</Match>
		<Match>http://www.google.co.ve/reader/view/*</Match>
		<Match>http://www.google.vg/reader/view/*</Match>
		<Match>http://www.google.co.vi/reader/view/*</Match>
		<Match>http://www.google.com.vn/reader/view/*</Match>
		<Match>http://www.google.vu/reader/view/*</Match>
		<Match>http://www.google.ws/reader/view/*</Match>
		<Match>http://www.google.rs/reader/view/*</Match>
		<Match>http://www.google.co.za/reader/view/*</Match>
		<Match>http://www.google.co.zm/reader/view/*</Match>
		<Match>http://www.google.co.zw/reader/view/*</Match>
		<Match>http://www.google.cat/reader/view/*</Match>
		<Match>https://www.google.com/reader/view/*</Match>
		<Match>https://www.google.ad/reader/view/*</Match>
		<Match>https://www.google.ae/reader/view/*</Match>
		<Match>https://www.google.com.af/reader/view/*</Match>
		<Match>https://www.google.com.ag/reader/view/*</Match>
		<Match>https://www.google.com.ai/reader/view/*</Match>
		<Match>https://www.google.am/reader/view/*</Match>
		<Match>https://www.google.co.ao/reader/view/*</Match>
		<Match>https://www.google.com.ar/reader/view/*</Match>
		<Match>https://www.google.as/reader/view/*</Match>
		<Match>https://www.google.at/reader/view/*</Match>
		<Match>https://www.google.com.au/reader/view/*</Match>
		<Match>https://www.google.az/reader/view/*</Match>
		<Match>https://www.google.ba/reader/view/*</Match>
		<Match>https://www.google.com.bd/reader/view/*</Match>
		<Match>https://www.google.be/reader/view/*</Match>
		<Match>https://www.google.bf/reader/view/*</Match>
		<Match>https://www.google.bg/reader/view/*</Match>
		<Match>https://www.google.com.bh/reader/view/*</Match>
		<Match>https://www.google.bi/reader/view/*</Match>
		<Match>https://www.google.bj/reader/view/*</Match>
		<Match>https://www.google.com.bn/reader/view/*</Match>
		<Match>https://www.google.com.bo/reader/view/*</Match>
		<Match>https://www.google.com.br/reader/view/*</Match>
		<Match>https://www.google.bs/reader/view/*</Match>
		<Match>https://www.google.co.bw/reader/view/*</Match>
		<Match>https://www.google.by/reader/view/*</Match>
		<Match>https://www.google.com.bz/reader/view/*</Match>
		<Match>https://www.google.ca/reader/view/*</Match>
		<Match>https://www.google.cd/reader/view/*</Match>
		<Match>https://www.google.cf/reader/view/*</Match>
		<Match>https://www.google.cg/reader/view/*</Match>
		<Match>https://www.google.ch/reader/view/*</Match>
		<Match>https://www.google.ci/reader/view/*</Match>
		<Match>https://www.google.co.ck/reader/view/*</Match>
		<Match>https://www.google.cl/reader/view/*</Match>
		<Match>https://www.google.cm/reader/view/*</Match>
		<Match>https://www.google.cn/reader/view/*</Match>
		<Match>https://www.google.com.co/reader/view/*</Match>
		<Match>https://www.google.co.cr/reader/view/*</Match>
		<Match>https://www.google.com.cu/reader/view/*</Match>
		<Match>https://www.google.cz/reader/view/*</Match>
		<Match>https://www.google.de/reader/view/*</Match>
		<Match>https://www.google.dj/reader/view/*</Match>
		<Match>https://www.google.dk/reader/view/*</Match>
		<Match>https://www.google.dm/reader/view/*</Match>
		<Match>https://www.google.com.do/reader/view/*</Match>
		<Match>https://www.google.dz/reader/view/*</Match>
		<Match>https://www.google.com.ec/reader/view/*</Match>
		<Match>https://www.google.ee/reader/view/*</Match>
		<Match>https://www.google.com.eg/reader/view/*</Match>
		<Match>https://www.google.es/reader/view/*</Match>
		<Match>https://www.google.com.et/reader/view/*</Match>
		<Match>https://www.google.fi/reader/view/*</Match>
		<Match>https://www.google.com.fj/reader/view/*</Match>
		<Match>https://www.google.fm/reader/view/*</Match>
		<Match>https://www.google.fr/reader/view/*</Match>
		<Match>https://www.google.ga/reader/view/*</Match>
		<Match>https://www.google.ge/reader/view/*</Match>
		<Match>https://www.google.gg/reader/view/*</Match>
		<Match>https://www.google.com.gh/reader/view/*</Match>
		<Match>https://www.google.com.gi/reader/view/*</Match>
		<Match>https://www.google.gl/reader/view/*</Match>
		<Match>https://www.google.gm/reader/view/*</Match>
		<Match>https://www.google.gp/reader/view/*</Match>
		<Match>https://www.google.gr/reader/view/*</Match>
		<Match>https://www.google.com.gt/reader/view/*</Match>
		<Match>https://www.google.gy/reader/view/*</Match>
		<Match>https://www.google.com.hk/reader/view/*</Match>
		<Match>https://www.google.hn/reader/view/*</Match>
		<Match>https://www.google.hr/reader/view/*</Match>
		<Match>https://www.google.ht/reader/view/*</Match>
		<Match>https://www.google.hu/reader/view/*</Match>
		<Match>https://www.google.co.id/reader/view/*</Match>
		<Match>https://www.google.ie/reader/view/*</Match>
		<Match>https://www.google.co.il/reader/view/*</Match>
		<Match>https://www.google.im/reader/view/*</Match>
		<Match>https://www.google.co.in/reader/view/*</Match>
		<Match>https://www.google.iq/reader/view/*</Match>
		<Match>https://www.google.is/reader/view/*</Match>
		<Match>https://www.google.it/reader/view/*</Match>
		<Match>https://www.google.je/reader/view/*</Match>
		<Match>https://www.google.com.jm/reader/view/*</Match>
		<Match>https://www.google.jo/reader/view/*</Match>
		<Match>https://www.google.co.jp/reader/view/*</Match>
		<Match>https://www.google.co.ke/reader/view/*</Match>
		<Match>https://www.google.com.kh/reader/view/*</Match>
		<Match>https://www.google.ki/reader/view/*</Match>
		<Match>https://www.google.kg/reader/view/*</Match>
		<Match>https://www.google.co.kr/reader/view/*</Match>
		<Match>https://www.google.com.kw/reader/view/*</Match>
		<Match>https://www.google.kz/reader/view/*</Match>
		<Match>https://www.google.la/reader/view/*</Match>
		<Match>https://www.google.com.lb/reader/view/*</Match>
		<Match>https://www.google.li/reader/view/*</Match>
		<Match>https://www.google.lk/reader/view/*</Match>
		<Match>https://www.google.co.ls/reader/view/*</Match>
		<Match>https://www.google.lt/reader/view/*</Match>
		<Match>https://www.google.lu/reader/view/*</Match>
		<Match>https://www.google.lv/reader/view/*</Match>
		<Match>https://www.google.com.ly/reader/view/*</Match>
		<Match>https://www.google.co.ma/reader/view/*</Match>
		<Match>https://www.google.md/reader/view/*</Match>
		<Match>https://www.google.me/reader/view/*</Match>
		<Match>https://www.google.mg/reader/view/*</Match>
		<Match>https://www.google.mk/reader/view/*</Match>
		<Match>https://www.google.ml/reader/view/*</Match>
		<Match>https://www.google.mn/reader/view/*</Match>
		<Match>https://www.google.ms/reader/view/*</Match>
		<Match>https://www.google.com.mt/reader/view/*</Match>
		<Match>https://www.google.mu/reader/view/*</Match>
		<Match>https://www.google.mv/reader/view/*</Match>
		<Match>https://www.google.mw/reader/view/*</Match>
		<Match>https://www.google.com.mx/reader/view/*</Match>
		<Match>https://www.google.com.my/reader/view/*</Match>
		<Match>https://www.google.co.mz/reader/view/*</Match>
		<Match>https://www.google.com.na/reader/view/*</Match>
		<Match>https://www.google.com.nf/reader/view/*</Match>
		<Match>https://www.google.com.ng/reader/view/*</Match>
		<Match>https://www.google.com.ni/reader/view/*</Match>
		<Match>https://www.google.ne/reader/view/*</Match>
		<Match>https://www.google.nl/reader/view/*</Match>
		<Match>https://www.google.no/reader/view/*</Match>
		<Match>https://www.google.com.np/reader/view/*</Match>
		<Match>https://www.google.nr/reader/view/*</Match>
		<Match>https://www.google.nu/reader/view/*</Match>
		<Match>https://www.google.co.nz/reader/view/*</Match>
		<Match>https://www.google.com.om/reader/view/*</Match>
		<Match>https://www.google.com.pa/reader/view/*</Match>
		<Match>https://www.google.com.pe/reader/view/*</Match>
		<Match>https://www.google.com.ph/reader/view/*</Match>
		<Match>https://www.google.com.pk/reader/view/*</Match>
		<Match>https://www.google.pl/reader/view/*</Match>
		<Match>https://www.google.pn/reader/view/*</Match>
		<Match>https://www.google.com.pr/reader/view/*</Match>
		<Match>https://www.google.ps/reader/view/*</Match>
		<Match>https://www.google.pt/reader/view/*</Match>
		<Match>https://www.google.com.py/reader/view/*</Match>
		<Match>https://www.google.com.qa/reader/view/*</Match>
		<Match>https://www.google.ro/reader/view/*</Match>
		<Match>https://www.google.ru/reader/view/*</Match>
		<Match>https://www.google.rw/reader/view/*</Match>
		<Match>https://www.google.com.sa/reader/view/*</Match>
		<Match>https://www.google.com.sb/reader/view/*</Match>
		<Match>https://www.google.sc/reader/view/*</Match>
		<Match>https://www.google.se/reader/view/*</Match>
		<Match>https://www.google.com.sg/reader/view/*</Match>
		<Match>https://www.google.sh/reader/view/*</Match>
		<Match>https://www.google.si/reader/view/*</Match>
		<Match>https://www.google.sk/reader/view/*</Match>
		<Match>https://www.google.com.sl/reader/view/*</Match>
		<Match>https://www.google.sn/reader/view/*</Match>
		<Match>https://www.google.so/reader/view/*</Match>
		<Match>https://www.google.sm/reader/view/*</Match>
		<Match>https://www.google.st/reader/view/*</Match>
		<Match>https://www.google.com.sv/reader/view/*</Match>
		<Match>https://www.google.td/reader/view/*</Match>
		<Match>https://www.google.tg/reader/view/*</Match>
		<Match>https://www.google.co.th/reader/view/*</Match>
		<Match>https://www.google.com.tj/reader/view/*</Match>
		<Match>https://www.google.tk/reader/view/*</Match>
		<Match>https://www.google.tl/reader/view/*</Match>
		<Match>https://www.google.tm/reader/view/*</Match>
		<Match>https://www.google.tn/reader/view/*</Match>
		<Match>https://www.google.to/reader/view/*</Match>
		<Match>https://www.google.com.tr/reader/view/*</Match>
		<Match>https://www.google.tt/reader/view/*</Match>
		<Match>https://www.google.com.tw/reader/view/*</Match>
		<Match>https://www.google.co.tz/reader/view/*</Match>
		<Match>https://www.google.com.ua/reader/view/*</Match>
		<Match>https://www.google.co.ug/reader/view/*</Match>
		<Match>https://www.google.co.uk/reader/view/*</Match>
		<Match>https://www.google.com.uy/reader/view/*</Match>
		<Match>https://www.google.co.uz/reader/view/*</Match>
		<Match>https://www.google.com.vc/reader/view/*</Match>
		<Match>https://www.google.co.ve/reader/view/*</Match>
		<Match>https://www.google.vg/reader/view/*</Match>
		<Match>https://www.google.co.vi/reader/view/*</Match>
		<Match>https://www.google.com.vn/reader/view/*</Match>
		<Match>https://www.google.vu/reader/view/*</Match>
		<Match>https://www.google.ws/reader/view/*</Match>
		<Match>https://www.google.rs/reader/view/*</Match>
		<Match>https://www.google.co.za/reader/view/*</Match>
		<Match>https://www.google.co.zm/reader/view/*</Match>
		<Match>https://www.google.co.zw/reader/view/*</Match>
		<Match>https://www.google.cat/reader/view/*</Match>
	</Script>
	<Script filename="show_password.user.js" name="Show Password" namespace="By Yash" description="Shows the password when mouse is hoverd on the textbox" version="" enabled="true" runAt="document-end" basedir="show_password" modified="1320108753000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320140287277" installurl="http://userscripts.org/scripts/source/52666.user.js" updateurl="http://userscripts.org/scripts/source/52666.meta.js">
		<Include>*</Include>
	</Script>
</UserScriptConfig>